/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

*:not(dialog) {
  margin: 0;
}

/* CSS Design System */
:root {
  --clr-prep-background: hsl(330deg, 100%, 98%);
  --clr-prep-heading: hsl(332deg, 51%, 32%);
  --clr-body-background: hsl(30deg, 54%, 90%);
  --clr-main-background: white;
  --clr-main-heading: hsl(24deg, 5%, 18%);
  --clr-text: hsl(30deg, 10%, 34%);
  --clr-table-border: hsl(30deg, 18%, 87%);
  --clr-section-heading: hsl(14deg, 45%, 36%);

  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-1600: 8rem;
}

@font-face {
  font-family: Outfit;
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Young Serif;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}

/* CSS Styling */
body {
  background-color: var(--clr-body-background);
}

main {
  background-color: var(--clr-main-background);
  width: min(100vw, clamp(500px, 50vw + 2rem, 60vw));
  margin: clamp(0px, 10vw - 50px, 6rem) auto clamp(0px, 10vw - 50px, 6rem) auto;
  border-radius: var(--spacing-150);
  overflow: hidden;
}

img {
  border-radius: var(--spacing-150);
  width: calc(100% - (var(--spacing-300) * 2));
  margin: var(--spacing-300) auto auto auto;
}

li:not(:last-of-type),
p:last-of-type {
  padding-bottom: var(--spacing-100);
}

section {
  margin: var(--spacing-300);
}

@media (max-width: 500px) {
  img {
    margin: 0;
    width: 100%;
    border-radius: var(--spacing-150) var(--spacing-150) 0px 0px;
  }
}

p,
td,
li {
  color: var(--clr-text);
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid var(--clr-table-border);
  padding: var(--spacing-150) var(--spacing-600) var(--spacing-150)
    var(--spacing-300);
}

h1 {
  color: var(--clr-main-heading);
  padding-bottom: var(--spacing-150);
}

h2 {
  color: var(--clr-section-heading);
  padding-bottom: var(--spacing-150);
}

section.preparation h2 {
  color: var(--clr-prep-heading);
}

.preparation {
  background-color: var(--clr-prep-background);
  border-radius: var(--spacing-150);
  padding: var(--spacing-150);
  background-clip: padding-box;
}
